@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  font-size: 6.4vh;
}

header, footer{
  padding-top: 10px;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,124,19,1) 35%, rgba(0,212,255,1) 100%);
  padding-bottom: 10px;
}

nav, footer, .links, .flex-container{
  display: flex;
  justify-content: center;
}

#logo {
  margin-right: 110vh;
}

.links {
  gap: 10vh;
}

header .flex-container {
  font-size: 6vh;
  font-weight: lighter;
  text-align: justify;
  gap: 50vh;
}

header .flex-container img {
  height: 80vh;
  width: 80vh;
}

#about-us {
  height: 60vh;
  width: 100vh;
}

img {
  border-radius: 10px;
}

section > main > img{
  width: 200px; 
  height: 200px; 
}

