@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  font-size: 1.1em;
}

header, footer{
  padding-top: 10px;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(79,124,19,1) 35%, rgba(0,212,255,1) 100%);
}

nav, .links, footer, .flex-container{
  display: flex;
  justify-content: center;
  font-weight: bolder;
}

#logo {
  margin-right: 90vh;
}

.links {
  gap: 10vh;
}

.flex-container {
  width: 1000px;
  justify-content: center;
}

#about-us {
  gap: 90vh;
}

img {
  border-radius: 10px;
}

section > main > img{
  width: 200px; 
  height: 200px; 
}

